/* Main Styles */

body {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}

div.topnav {
    font-size: 1.5vw;
}

div.name2 {
    font-size: 1.5vw;
}

h1 { 
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

footer {
    color: white;
    position: absolute;
    bottom: -75%;
    font-size: 1vw;
    padding: 100px 0 100px;
    width: 100%;
    border-radius: 10px;
    opacity: .9;
    text-align: center;
}

/* ID Styles */

#computer {
    background: no-repeat fixed;
    background-size: cover;
    
}

#name {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    letter-spacing: 2px;
}

#copy {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

/* Attribute Styles */

a:link:hover {
    color: rgb(238, 49, 49);
}

link:visited {
    color:  black;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

button:hover {
    border: 2px solid white;
}

/* Media Styles  */

@media screen and (max-width: 420px) {

    h1 {
        top: 15%;
        font-size: 23px;
    }

    p.content {
        top: 25%;
        width: 100vw;
    }

    .arrow {
        top: 45%;
    }

    div.topnav a {
        font-size: 10px;
        padding: 8px 6px;
    }

    button.hire {
        position: absolute;
        top: 38%;
        left: 20%;
        transform: translateX(15%);
    }

    button.website {
        position: absolute;
        top: 38%;
        right: 20%;
        transform: translateX(-15%);
    }

    body#computer {
        background-size: 430px 430px;
        width: 100%;
    }

    #name {
        font-size: 2em;
    }

    img.ilogo {
        width: 4vw;
    }

    img.tlogo {
        width: 4vw;
    }
}

/* Class Styles */

.topnav {
    width: 100vw;
    box-sizing: content-box;
    margin-right: 200px;
    size: cover;
    font-weight: bold;
}

.topnav a{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    border-bottom: 3px solid rgb(238, 49, 49);
}

.logo {
    float: left;
    border-radius: 500px;
    width: 7vw;
    border-bottom: none;
    padding-right: 0;
}

.name2 {
    float: left;
    color: #f2f2f2;
    padding: 5px 16px 14px 8px;
    text-decoration: none;
}

.tlogo {
    float: left;
    width: 3vw;
    border-radius: 2em;
    margin-top: 5px;
}

.ilogo {
    float: left;
    width: 3vw;
    border-radius: 2em;
    background-color: white;
    margin: 5px 10px;
}

.content {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 10px;
    width: 50vw;
    font-weight: bold;
    list-style: none;
    opacity: .7;
}

.hire {
    background-color: lightslategray ;
    position: absolute;
    top: 80%;
    left: 25%;
    font-size: 1.5vw;
    padding: 10px;
    font-weight: bold;
    opacity: .7;
    color: black;
    border-radius: 10px;
}

.website {
    background-color: lightslategray;
    position: absolute;
    top: 80%;
    right: 25%;
    font-size: 1.5vw;
    opacity: .7;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.info {
    position: absolute;
    color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    max-width: 50vw;
    font-weight: bold;
    list-style: none;
    opacity: .7;
    padding: 0;
}

.arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-10%); 
    width: 40px;
}

.contact {
    text-align: center;
}